/* CSS Document */

body{
	margin: 0;
}
.banner-home{
	background-image: url("../images/unh1.jpg");
	height: 300px;
	background-size: cover;
	background-position: center;
	color: white;
	padding-top: 30px;
}
.banner-home h1{
	text-align: center;
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
	font-size: 2em;
	margin-top: 0;
}
nav ul li a{
	text-decoration: none;
	color: black;
	background-color: lightgray;
	display: block;
	text-align: center;
	padding: 10px 0 10px 0;
	margin-bottom: 5px
}
nav ul li a:hover{
	background-color: #1A4283;
	color: #FFFFFF;
}
nav ul{
	list-style: none;
	padding-left: 0;
}
.home-image-one{
	width: 400px;
	height: 300px;
	background-image: url("../images/fb1.JPG");
	margin: auto;
	background-size: cover;
	border-radius: 10%;
}
.art-one-home{
	text-align: center;
	padding: 10px;
}
.home-image-two{
	width:400px;
	height:300px;
	background-image: url("../images/jeanj1.jpeg");
	margin: auto;
	background-size: cover;
	border-radius: 10%;
	padding-bottom: 5px;
}
.art-two-home{
	text-align: center;
	padding: 1px 10px 1px 10px;
}
footer{
	text-align: center;
	padding: 10px;
	background-color: lightgray;
}


@media screen and (min-width:450px) {
	nav ul{
		display:flex;
	}
	nav ul li{
		flex:1;
		margin: 5px;
	}
	.home-page-info{
		display: flex;
	}
	.feature-image-one{
		flex: 1;
	}
	.feature-image-two{
		flex: 1;
	}
}